@page "/"

<PageTitle>Index</PageTitle>

@*<h1>Hello, world!</h1>

Welcome to your new app.*@
@*<h5><strong>PLANTILLA FALTANTE (Vacantes)</strong></h5>
    <div class="form-group">
        <table class="table">
            <tbody>
                <tr>
                    <td>Sucursal</td>
                    <td>Puesto</td>
                    <td>Cantidad</td>
                </tr>
            </tbody>
        </table>
    </div>
<br />*@
@*<div style="width:50%; float:left;border-right-style: solid;border-right-color: coral;border-bottom-style:solid;border-bottom-color: coral;">
    <h5 style="text-align:center;letter-spacing: 1px;color:black;border-bottom: 2px solid #88b2ff;">CUMPLEAÑEROS DEL MES</h5>
</div>
<div style="width:50%; float:right;border-bottom-style:solid;border-bottom-color: coral;">
    <h5 style="text-align:center;letter-spacing: 1px;color:black;border-bottom: 2px solid #88b2ff;">ANIVERSARIO EN LA EMPRESA</h5>
</div>*@
